@-webkit-keyframes rotation {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}

@keyframes rotation {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(345deg);
  }
}

.rotation {
  -webkit-animation: rotation 20s linear infinite;
          animation: rotation 20s linear infinite;
}
